<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.empCode }} - {{ employee.fullName }}</td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.mobile }}</td>
      <td (click)="onEdit(employee)">
        <button class="btn text-warning">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td (click)="onDelete(employee.id)">
        <button class="btn text-danger">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
